// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn{
  padding:10px 20px;
  border-radius:20px;
  color:white;
  font-size:80%;
  margin-right:24px;


  &__outline{
    border: 1px solid white;
    background: none;
  }
  &__full{
    border:1px solid transparent;
    background: $main-color;
  }
}
